@model IEnumerable<LibraryManagement.Models.User>

    @{
    Layout = "~/views/shared/_adminLayout.cshtml";
    }
<!--**********************************
           Content body start
       ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Bootstrap</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Users' Data</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table primary-table-bordered table-responsive-sm text-muted">
                                <thead class="thead-primary">
                                    <tr class="text-primary">
                                        <th>User Id</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Role</th>
                                        <th>Created-At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.User_id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.User_name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Role)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                            <td>
                                                <span class="ml-3 me-3">

                                                    <a asp-action="UserEdit" asp-route-id="@item.User_id"><i class="fa fa-pencil text-info" title="Edit"></i></a>
                                                </span>
                                                <span class="ml-3 me-3">
                                                    <!-- Button trigger modal -->
                                                    <a data-toggle="modal" data-target="#exampleModalCenter-@item.User_id" type="button"><i class="fa fa-close text-danger" title="Delete"></i></a>
                                                   
                                                    <a></a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModalCenter-@item.User_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title text-secondary" id="exampleModalLongTitle">Do you want to delete this record?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <ul>
                                                                     <li>Role : @item.Role</li>
                                                                     <li>Name : @item.User_name</li>
                                                                     <li>Email : @item.Email</li>
                                                                     <li>Password : @item.Password</li>
</ul>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <a asp-action="UserDelete" asp-route-id="@item.User_id" type="button" class="btn btn-danger"> Delete </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </span>



                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
